* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Cabin", sans-serif;
  color: white;
  background-color: black;
}

nav {
  font-size: 1.5rem;
}

.main-content {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("../assets/img/cine.jpg");

  background-size: cover;
  background-position: center;
}

.btn-registro {
  font-size: 1.5rem;
}
.main-title {
  font-size: 4rem;
  text-align: center;
  margin-top: 4rem;
}

.card {
  width: 15rem;
}

/* -------------------------------------------------------------------------- */
/*                               Pagina detalle                               */
/* -------------------------------------------------------------------------- */
.main-detail {
  margin-top: 5rem;
}

.card-detail {
  width: 80%;
  margin: auto;

  display: flex;
  justify-content: space-between;
  align-items: start;
}

.text-detail {
  padding: 0 0 0 5rem;
}

.card-detail img {
  width: 20rem;
}

@media screen and (max-width: 600px) {
  .card-detail {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .text-detail {
    padding: 1rem;
  }
}

/* -------------------------------------------------------------------------- */
/*                                    form                                    */
/* -------------------------------------------------------------------------- */
.form-card {
  padding: 2rem;
  border-radius: 10px;
  background-color: #0e2267;
}

.main-register {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
    url("../assets/img/bg/bg-pop-esquina.jpg");
  background-size: cover;
  /* background-position: bottom; */
  height: 80vh;
}

.main-register h1,
.main-login h1 {
  font-size: 4rem;
  text-align: center;
}

/* -------------------------------------------------------------------------- */
/*                                    login                                   */
/* -------------------------------------------------------------------------- */
.main-login {
  /* pochoclos y director cut*/
  /* background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("../assets/img/bg/flat-lay-cinema-elements-with-copyspace.webp"); */

  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
    url("../assets/img/bg/pop-bottom-comp.webp");
  background-size: cover;
  background-position: bottom;
  background-position-y: 80%;
  height: 80vh;
}
